export APP=traefik

export DOMAIN=traefik.example.com
export LETS_ENCRYPT_ENV=production

export LETS_ENCRYPT_EMAIL=certs@example.com
# export DASHBOARD_ENABLED=true
# WARN, INFO etc.
export LOG_LEVEL=WARN

export TRAEFIK_YML_VERSION=v1
export FILE_PROVIDER_YML_VERSION=v1

## Enable Keycloak
#export COMPOSE_FILE="compose.yml:compose.keycloak.yml"
#export KEYCLOAK_MIDDLEWARE_ENABLED=1

## SMTP port 587
#export COMPOSE_FILE="compose.yml:compose.smtp.yml"
#export SMTP_ENABLED=1

## Host-mode networking
#export COMPOSE_FILE="compose.yml:compose.host.yml"
